@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
}
.card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  animation: spin 10s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
    background-image: url(img/threadsLogo.png);
    background-repeat: round;
    background-size: 5%;
  }
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 20px;
}

.card-front {
  background-color: white;
  color: #333;
  display: flex;
  font-family: Arial, sans-serif;
}

.card-back {
  background-color: white;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  transform: rotateY(180deg);
}
.halfMoonTop {
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translate(-50%);
  background-color: #131313;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.halfMoonBottom {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #131313;
  width: 50px;
  height: 55px;
  border-radius: 100px;
}
.frontTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 20px;
  width: 100%;
}
.frontTop {
  display: block;
  align-items: center;
}
.firstPart {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
.secondPart div {
  margin-bottom: 20px;
}
.logo {
  width: 70px;
}
.qrCode {
  width: 50px;
}
h6 {
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5px;
}
p {
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
  font-size: 19px;
}
.line {
  opacity: 50%;
  margin-bottom: 10px;
}
.frontBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  width: 30px;
}
.bottomLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.userName {
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}
.number {
  font-size: 11px;
  font-family: "Orbitron", sans-serif;
}
.backLogo {
  width: 200px;
}
